@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
optgroup {
  @apply p-2 m-1;
}

option {
  @apply p-2;
}

option:hover {
  @apply bg-primary-100 text-white rounded cursor-pointer;
}

.card {
  @apply lg:max-w-2xl w-11/12 sm:max-w-sm  rounded mx-auto bg-primary-white shadow-md  mt-16 p-8;
}

.nav-hover {
  @apply hover:bg-primary-200 hover:cursor-pointer;
}
.mobileNavParent {
  @apply absolute top-20 bottom-0 right-0 left-0 h-[95dvh];
}

.mobileNav {
  @apply absolute top-0 bottom-0 right-0 left-0 flex-col bg-primary-100  justify-center items-center;
}
