@tailwind base;
@tailwind components;
@tailwind utilities;

nav a {
  @apply p-2 rounded;
}

nav a.active {
  @apply bg-blue-600 rounded;
}
.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
