@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  @apply bg-slate-200 rounded-md p-3 outline-none;
}

.form-error {
  @apply text-sm;
}

.flex-dir-col {
  @apply flex flex-col;
}

.btn-indigo {
  @apply w-full p-3 text-center bg-indigo-500 hover:bg-indigo-700 rounded-md text-white font-medium text-lg;
}

.btn-gray {
  @apply w-full p-3 text-center bg-gray-600 hover:bg-slate-500 rounded-md text-white font-medium text-lg;
}
