@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  @apply bg-slate-200 rounded-md p-3 outline-none;
}

.form-error {
  @apply text-sm;
}

.flex-dir-col {
  @apply flex flex-col;
}

.btn-indigo {
  @apply w-full  p-3 text-center bg-indigo-500 hover:bg-indigo-700 rounded-md text-white font-medium text-lg;
}

.btn-gray {
  @apply w-full  p-3 text-center bg-gray-600 hover:bg-slate-500 rounded-md text-white font-medium text-lg;
}
.btn-blue {
  @apply w-full p-3 text-center bg-blue-500 hover:bg-blue-700 rounded-md text-white font-medium text-lg;
}

.tr {
  @apply hover:bg-zinc-100 cursor-pointer;
}

.td {
  @apply px-6 border-gray-400 border-2 py-4;
}

.td-btn-red {
  @apply bg-red-500 hover:bg-red-600 text-white p-1 text-sm rounded-md;
}
