@tailwind base;
@tailwind components;
@tailwind utilities;

/*
avatar_url
name
bio
html_url
followers
following
created_at 
public_repos
login
*/

img {
  display: inline-block;
}

.card {
  @apply bg-slate-300 rounded flex flex-col w-80 md:w-11/12 md:m-2 m-2 p-4 space-y-3;
}

.card:hover {
  transition: ease-out 200ms;
  box-shadow: 4px 4px 3px #a8bde1;

  @apply cursor-grab bg-slate-400;
}

.card:hover > img {
  @apply border-slate-600 shadow-2xl;
}

.avatar_url {
  @apply rounded-full border-4 border-gray-400;
}

.name {
  @apply font-semibold text-xl text-slate-600;
}

.card:hover .name {
  @apply text-white duration-150;
}

.followers,
.following {
  @apply flex gap-2 text-lg text-gray-600;
}

.followers img,
.following img {
  width: 20px;
}

.html_url,
.public_repos {
  @apply bg-slate-500 p-2 rounded text-gray-100 font-semibold;
}

.public_repos:hover,
.html_url:hover {
  @apply bg-slate-600 cursor-pointer;
}

.created_at {
  @apply font-medium text-slate-700;
}

/* repo card  */

.repo-card {
  @apply bg-slate-700 rounded w-11/12 lg:max-w-5xl m-auto border my-3  flex gap-5 items-center;
}

.repo-card__count {
  @apply lg:w-32 text-center lg:text-2xl text-lg w-11 ml-2 text-white font-semibold;
}

.repo-card__info {
  @apply space-y-2 w-[95%] bg-slate-300 p-3;
}

.repo-card__title {
  @apply lg:text-3xl text-xl  font-semibold text-slate-800 block hover:underline my-1;
}
.repo-card__title img {
  @apply w-8 inline;
}

.repo-card__owner {
  @apply text-sm text-slate-600 font-medium;
}

.repo-card__description,
.repo-card__language {
  @apply font-medium text-slate-600;
}
.repo-card__language {
  @apply text-sm lg:text-base text-slate-600 font-medium;
}

.repo-card__created_at,
.repo-card__pushed_at {
  @apply font-medium lg:text-sm text-xs text-slate-500;
}

/* backToCards */

.d-none {
  display: none !important;
}

.hide {
  visibility: hidden;
}

.backToCards {
  @apply bg-slate-300 hover:bg-slate-400 cursor-pointer  rounded-full grid place-content-center sticky w-14 h-14 bottom-8 shadow-md shadow-slate-500 right-0  z-10;
}

.back-btn {
  @apply text-slate-700 hover:text-white;
}

footer {
  @apply text-center font-medium text-sm;
}

footer a:hover {
  @apply underline;
}
